#app {
    font-family: 'Sen', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;

}

.text-bold {
    font-weight: 700;
}

.mb-0 {
    margin-bottom: 0px;
}

.p-0 {
    padding: 0px;
}